.navbar{
    width: 100%;
    height: 75px;
     align-content: center;
    display: flex;
    gap: 49%;
    align-items: center;
     
    
}
 .link{
    margin: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

 }
  .item{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(0, 255, 229);

  }
  .col{
    display: flex;
     gap: 20px;
    height: auto;
  }
  #global{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
    
  
  .tab1{
     width: 300px;
     height: 300px;
     border-radius: 5px; 
     color: aliceblue;
     gap: 10px;
     margin-left: auto;
     margin-right: auto;
       


  }
.bat{
    display: block;
    margin-left: 20px;
     


}

h2{
    margin-left: 20px;
}
h4{
    margin-left: 20px;
    
}
.mag{
    width: 50px;
}
 .pow{
  color: aqua;
  margin-top: auto;
 }
 .all{
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 33%;
  margin-top: 50px;
  

 }

.section {
  margin-left: 60px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  
}

 .h1 {
  color: aqua ;
  font-size: 25px;
 }
.ul {
  margin-left: 200px;
}

 li {
  color: gray;
  list-style: none;
  margin: 10px;
  display: inline-flex;
  font-size: x-large;
 }
li:hover {
  color: aquamarine;
}
.santo{
  color: aqua;
  display:  flex;
  flex-basis: 50%;

 

}
.kouz1{
  margin-left:70px;
background-color: rgb(157, 215, 195);
display: flex;
flex-direction: column;
width: 95%;
height: 700px;
margin-top: 60px;
background-image: url(belluga.jpeg);
background-repeat: no-repeat;
background-position: 50px bottom;
background-position: ;


}
.azed{
  display: flex;

}
.santos{
  display:  flex;
  flex-basis: 50%;
}
.azed{
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction:column;
  flex-basis: 50%;
  gap: 10px;
  margin-left: 450px;
   
}
.card {
  
  display: inline-block;
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 80px;
  background-image: url(barcelon.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: 5px 5px 0 #333;
}

.card:hover .card-title {
  text-decoration: underline;
}

.card-text {
  padding: 10px;
  margin-top: 300px;
  
}

.card-title {
  font-weight: 900;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline;
}

.card-content {
  padding: 10px 0 15px;
  font-size: 14px;
  display: inline;
  margin-bottom: 50px;
  margin-left: 90px;
  font-weight: 900;
  font-size: large;
  border: 1px solid white ;
  background-color: rgb(56, 108, 231);
  color: aliceblue;

  
}
body {
  width: 100%;
}
html {
  width: 100%;
}

.card1 {
  
  display: inline-block;
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 80px;
  background-image: url( bologna.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.card1:hover{
  box-shadow: 5px 5px 0 #333;
}
.card2 {
  
  display: inline-block;
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 80px;
  background-image: url(  curitiba.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.card2:hover{
  box-shadow: 5px 5px 0 #333;
}
.card3 {
  
  display: inline-block;
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 80px;
  background-image: url( istanbul.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.card3:hover{
  box-shadow: 5px 5px 0 #333;
}




.card4 {
  
  display: inline-block;
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 80px;
  background-image: url( mexico.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.card4:hover{
  box-shadow: 5px 5px 0 #333;
}
.card5 {
  
  display: inline-block;
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 80px;
  background-image: url( munich.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.card5:hover{
  box-shadow: 5px 5px 0 #333;
}
.card6 {
  
  display: inline-block;
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 80px;
  background-image: url( roma.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.card6:hover{
  box-shadow: 5px 5px 0 #333;
}
.card7 {
  
  display: inline-block;
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 80px;
  background-image: url( warsaw.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.card7:hover{
  box-shadow: 5px 5px 0 #333;
}
.spaw{
  text-align: center;
  margin-top: 60px;
}
.spaw1{
  padding: 10px 0 15px;
  font-size: 14px;
  display: inline;
  margin-bottom: 50px;
  margin-left: 90px;
  font-weight: 900;
  font-size: large;
  border: 1px solid white ;
  background-color: rgb(56, 108, 231);
  color: aliceblue;
}
  footer{
    text-align: center;
    margin-top: 100px;
    border-top:  solid 1px gray;
  }
  .form-select{
    margin-top: 120px;
   color: whitesmoke;
  }
  .g-col-6{
    background-color: rgb(255, 250, 250);
    width: min-content;
    margin-left: 900px;
     

     
  }
  .grid{
     
    gap: 15px; 
    display: grid;
     grid-auto-columns:center ;
      
    
  }
  

.santo1{
  display: flex;
  gap: 40px;
}
.gcol{
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.gcol6{
  margin-right: 50px;
  background-color: rgb(255, 251, 251);
  margin-bottom: 50px;
  margin-left: 90px;
}

.g-col6{
  margin-right: 60px;
  background-color: rgb(255, 251, 251);
  margin-top: 50px;
}
 















